@import '../styles/variables';

.emoji-mart-search input {
    font-family: "Inconsolata";
}

.emoji-mart-category-label span {
    font-weight: bold !important;
    font-size: 17px !important;
}

.emoji-mart-category-list {
    margin-bottom: 15px !important;
}

.emoji-mart {
    border: none !important;
}

.emoji-mart-bar {
    display: none;
}